$passive: #555;
$passive-adj: #666;
$passive-bold: #444;
$passive-compl: #AAA;

$emphasis: #EEE;
$emphasis-adj: #CCC;
$emphasis-bold: #FFF;
$emphasis-compl: #111;

.grid-chart {
  display: grid;
  font-size: 10px;
  background: $passive;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 20px;
  padding-left: 8px;
  border: 2px solid #EEE;
  color: $emphasis;
  box-sizing: border-box;
  border-radius: 16px;

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .grid-node-row {
    display: contents;
  }

  // .grid-node-row:hover > .grid-node,
  // .grid-node-row:focus > .grid-node,
  // .grid-node-row:active > .grid-node {
  //   background: #888;
  // }


  .grid-node {
    border: 1px solid $emphasis-adj;
    position: relative;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    background: $passive-adj;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    transition-delay: .1s;
    transition: max-height .2s ease-in-out;

    .node-label {
      position: absolute;
      left: -1px;
      bottom: -16px;
      text-transform: capitalize;
      font-size: 12px;
      padding: 0px 5px 0px 5px;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      background: inherit;
      border: 1px solid $emphasis-adj;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top: none;
    }

    .node-data {
      overflow: hidden;
      padding: 2px 5px;
      height: 95%;
      height: -webkit-fill-available;
    }

    .node-data:hover {
      // overflow: unset;
    }

    &.selected-x,
    &.selected-y {
      background: $emphasis-adj;
      color: $emphasis-compl;
    }

    &.selected::after {
      content: '';
      height: 8px;
      width: 8px;
      position: absolute;
      top: 1px;
      right: 1px;
      border-radius: 4px;
      background: red;
    }

    &:hover {
      height: fit-content;
      max-height: 600%;
      z-index: 1;
      background: $emphasis-bold;
      color: $emphasis-compl;
    }
  }

  .x-axis-node,
  .y-axis-node {
    background: $passive-compl;
    color: $emphasis-compl;

    &:hover {
     background: $emphasis-bold;
     color: $passive-bold;
    }
  }
}
