button:focus {outline:0;}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.ReactModal__Overlay {
  z-index: 9;
}

.flex {
  display: flex;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  font-family: helvetica;
}

.checkboxes {
  z-index: 5;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin: unset;
  }

  input ~ label {
    background-color: unset;
    cursor: pointer;
    padding: 2px 4px;
    margin: 1px 0;
  }

  input:checked ~ label {
    background-color: #BBB;
  }

  .champion {
    padding-left: 10px;
    font-size: 10px;
    display: flex;
  }

  .depth0 {
    padding: 10px 5px;
  }

  .depth0 > div {
    padding-right: 5px;
  }

  .depth1 {
    flex-direction: column;
    // max-width: 90px;
  }

  .checkboxes-container {
    font-size: 10px;
    display: flex;
    place-items: start;
  }

  .checkboxes-container:not([hidden]) {
    border-top-left-radius: 0;
  }

  &[is="active"] .checkboxes-toggle {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .checkboxes-toggle {
    display: inline-block;
    padding: 2px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: -1px;
    position: relative;
    z-index: 1;
  }

  .checkboxes {
    // display: flex;
    // flex-wrap: wrap;
    // margin: 12px 12px 0 12px;;
    // padding: 4px;

    .labeledinput {
      display: flex;
      place-items: center;
    }

    .labeledinput > label {
      text-transform: capitalize;
      white-space: nowrap;
    }
  }
}

div[hidden] {
  display: none !important;
}

.right-container {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  width: 150px;
  flex-direction: column;

  & > div {
    margin-bottom: 10px;
  }

  &.offset1 {
    right: 170px;
  }
}

.left-container {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  & > div {
    margin-bottom: 10px;
  }
}

.top-container {
  position: absolute;
  display: flex;
  top: 10px;
  right: 50%;

  & > div,
  & > form {
    margin-right: 10px;
  }
}

.bottom-container {
  position: absolute;
  bottom: 5px;
  right: 5%;
  font-size: 9px;
}

.panel {
  padding: 0 0 5px 0;
  background-color: #DDD;
  border: 1px solid #777;
  border-radius: 3px;
  opacity: 0.9;
  color: #222;

  .title {
    padding: 0 5px 2px 5px;
  }
}

.champion-list {
  .champion {
    padding: 0 10px;
    font-size: 10px;

    &:hover {
      cursor: pointer;
      background-color: #BBB;
    }
  }
}

.synergy-list {
  .synergy {
    font-size: 10px;

    .threshold {
      margin-right: 5px;
    }

    .name {
      font-weight: bold;
      padding-top: 5px;
    }

    & > div {
      padding: 0 10px;
    }
  }
}

.reference-modal {
  button {
    cursor: pointer;
    font-size: 14px;
    padding: 2px 5px;
  }
}

.select-io {
  font-size: 14px;
  padding: 2px 5px;
}

/* https://paletton.com/#uid=53C0u0kl1Wx1x+IcEXDsUWkWEVB */
/* blue pastels dark -> light */
/* #036FF0   #2985F2   #60A3F3   #9DC5F6 */
/* purple pastels dark -> light */
/* #1E04F2   #4935F4   #7869F4   */
$primary-dark: #4935F4;
$secondary-dark: #036FF0;
$secondary-med: #2985F2;
#graph {
  transition: stroke .3s ease-in, opacity .2s ease-in;
  background-color: #EEEEEE;

  image.node-icon {
    height: 40px;
    width: 40px;
  }

  text.node-label {
    transform: translate(-4px, 37px);
    text-anchor: middle;
    user-select: none;
    pointer-events: none;
    z-index: 0;
    opacity: 0.8;
    font-weight: 500;
  }
  text.node-label.highlighted,
  text.node-label.selected,
  text.node-label.hovered {
    opacity: 1;
    z-index: 2;
    stroke-width: 0.8px;
    stroke: #BBB;
    font-weight: 900;
  }
  text.node-label.filtered {
    opacity: 0;
  }

  line.graph-link {
    opacity: 0.1;
    stroke: #000;
    stroke-width: 3;
    z-index: 1;
  }
  line.graph-link.highlighted {
    stroke: $secondary-dark;
    opacity: 1.0;
    z-index: 3;
  }
  line.graph-link.selected {
    stroke: $primary-dark;
    opacity: 1.0;
    z-index: 2;
  }
  line.graph-link.filtered {
    opacity: 0.0;
  }

  circle.graph-node {
    cursor: pointer;
    opacity: 0.7;
    stroke-width: 5px;
    r: 20px;
    stroke: #BBB;
  }
  circle.graph-node.highlighted {
    stroke: $secondary-dark;
    opacity: 1;
  }
  circle.graph-node.selected {
    stroke: $primary-dark;
    opacity: 1;
  }
  circle.graph-node.hovered, {
    stroke: $secondary-med;
    opacity: 1;
  }
  circle.graph-node.filtered {
    opacity: 0.0;
    cursor: unset;
  }
}

/* graph accents for analyze mode*/
#graph.analyze {
  line.graph-link.selected,
  line.graph-link.highlighted {
    stroke: #333;
  }

  circle.graph-node {
    opacity: 0.9;
  }
  circle.graph-node.filtered {
    opacity: 0.0;
    cursor: unset;
  }
}

#item-grid {
  .node-data {
    position: relative;
  }
  .node-data .node-indicator {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 5px;
    width: 5px;
    background-color: 'red';
  }
  .node-data img {
    float: left;
    height: 46px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 0;
    border: transparent;
    border-radius: 8px;
  }
  .grid-node:hover {
    // height: 180%;
  }
}

.exclusive-options {
  .options {
    font-size: 10px;
    cursor: pointer;

    .option {
      padding: 0 10px;
      &:hover {
        background-color: #BBB;
      }
      &.selected {
        background-color: #BBB;
        font-weight: bold;
      }
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
