.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  font-size: 9px;
  display: flex;
  place-items: start;
}

.checkboxes-container {
  position: absolute;

  .champion {
    padding-left: 10px;
    font-size: 9px;
    display: flex;

  }

  .depth1 {
    flex-direction: column;
  }

  .checkboxes-toggle {
    display: inline-block;
    padding: 2px;
    border: 1px solid black;
    font-size: 16px;
  }

  .checkboxes {
    display: flex;
    flex-wrap: wrap;

    .labeledinput {
      display: flex;
      place-items: center;
    }

    .labeledinput > label {
      text-transform: capitalize;
    }
  }
}

div[hidden] {
  display: none !important;
}

.right-container {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  width: 150px;

  & > div {
    margin-bottom: 10px;
  }
}

.panel {
  padding: 0 0 5px 0;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 3px;

  .title {
    padding: 0 5px 2px 5px;
  }
}

.selected-champions {
  .champion {
    padding: 0 10px;
    font-size: 9px;

    &:hover {
      cursor: pointer;
      background-color: lightgray;
    }
  }
}

.selected-synergies {
  .synergy {
    display: flex;
    font-size: 9px;
    padding: 0 10px;

    .threshold {
      margin-right: 5px;
    }
  }
}

#graph {
  .node-label {
    transform: translate(-14px, 22px);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
