.flex {
  display: flex;
}

.container {
  font-size: 10px;
  display: flex;
  place-items: start;
}

.checkboxes-container {
  position: absolute;
  z-index: 5;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin: unset;
  }

  input ~ label {
    background-color: unset;
    cursor: pointer;
    padding: 2px 4px;
    margin: 1px 0;
  }

  input:checked ~ label {
    background-color: #CCC;
  }

  .champion {
    padding-left: 10px;
    font-size: 10px;
    display: flex;
  }

  .depth0 > div {
    padding-right: 5px;
  }

  .depth1 {
    flex-direction: column;
    max-width: 75px;
  }

  .checkboxes-toggle {
    display: inline-block;
    padding: 2px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }

  .checkboxes {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 12px 0 12px;;
    padding: 4px;

    .labeledinput {
      display: flex;
      place-items: center;
    }

    .labeledinput > label {
      text-transform: capitalize;
      white-space: nowrap;
    }
  }
}

div[hidden] {
  display: none !important;
}

.right-container {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  width: 150px;

  & > div {
    margin-bottom: 10px;
  }
}

.panel {
  padding: 0 0 5px 0;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 3px;
  opacity: 0.9;

  .title {
    padding: 0 5px 2px 5px;
  }
}

.champion-list {
  .champion {
    padding: 0 10px;
    font-size: 10px;

    &:hover {
      cursor: pointer;
      background-color: lightgray;
    }
  }
}

.synergy-list {
  .synergy {
    font-size: 10px;

    .threshold {
      margin-right: 5px;
    }

    .name {
      font-weight: bold;
      padding-top: 5px;
    }

    & > div {
      padding: 0 10px;
    }
  }
}
/* blue pastels dark -> light */
/* #4477b2, #5284bd, #6591c4, #779ecb, #89abd2, #9cb8d9, #aec5e0 */
#graph {
  transition: stroke .6s ease-in, opacity .2s ease-in;
  image.node-icon {
    height: 40px;
    width: 40px;
  }

  text.node-label {
    transform: translate(-4px, 37px);
    text-anchor: middle;
    user-select: none;
    pointer-events: none;
    z-index: 0;
    opacity: 0;
  }
  text.node-label.active {
    // display: block;
    font-weight: 500;
    opacity: 0.8;
  }
  text.node-label.highlighted,
  text.node-label.selected,
  text.node-label.hovered {
    font-weight: 700;
    opacity: 1;
    z-index: 2;
  }

  line.graph-link {
    opacity: 0.0;
    stroke: #BBB;
    stroke-width: 3;
    z-index: 1;
  }
  line.graph-link.active {
    opacity: 0.6;
  }
  line.graph-link.selected {
    stroke: #4477b2;
    opacity: 1.0;
    z-index: 2;
  }
  line.graph-link.highlighted {
    stroke: #4477b2;
    opacity: 1.0;
    z-index: 3;
  }

  circle.graph-node {
    cursor: pointer;
    opacity: 0.0;
    stroke-width: 5px;
    r: 20px;
    stroke: #BBB;
  }
  circle.graph-node.active {
    opacity: 0.7;
  }
  circle.graph-node.selected {
    stroke: #4477b2;
    opacity: 1;
  }
  circle.graph-node.highlighted {
    stroke: #4477b2;
    opacity: 1;
  }
  circle.graph-node.hovered, {
    stroke: #4477b2;
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
