button:focus {outline:0;}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.ReactModal__Overlay {
  z-index: 9;
}

.flex {
  display: flex;
}

.app {
  position: relative;
  display: grid;
  grid-template-columns: 160px auto fit-content(260px);
  grid-template-rows: 48px auto;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: helvetica;
}

.top-bar {
  position: relative;
  z-index: 1;
  grid-row: 1;
  grid-column: 1 / 4;
}

.left-bar {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 0;
  grid-column: 1;
  grid-row: 1 / 2;
}

.right-panel {
  position: relative;
  z-index: 1;
  width: 260px;
  height: 100%;
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
}

div[hidden] {
  display: none !important;
}

/* https://paletton.com/#uid=24g0u0kjnttdWPMh-Cif1jgfjeP */
// Purple, Yellow
// 1,4 => light,dark

$color-primary-0: #614AA1;  // Main Primary color */
$color-primary-1: #A28BE3;
$color-primary-2: #7C63C1;
$color-primary-3: #493D69;
$color-primary-4: #382F51;

$color-complement-0: #EBD45D; // Main Complement color */
$color-complement-1: #FFED90;
$color-complement-2: #FFE873;
$color-complement-3: #998E51;
$color-complement-4: #766D3E;


#graph {
  position: absolute;
  left: 0;
  top: 0;
  transition: stroke .2s ease-in, opacity .2s ease-in;
  background-color: $color-primary-4;

  image.node-icon {
    height: 40px;
    width: 40px;
  }

  text.node-label {
    transform: translate(-4px, 37px);
    text-anchor: middle;
    user-select: none;
    pointer-events: none;
    z-index: 0;
    opacity: 0.8;
    font-weight: 500;
    fill: $color-primary-1;
  }
  text.node-label.highlighted {
    opacity: 1;
    z-index: 2;
    fill: $color-complement-2;
  }
  text.node-label.selected {
    opacity: 1;
    z-index: 2;
    fill: $color-complement-0;
  }
  text.node-label.hovered {
    opacity: 1;
    z-index: 2;
    fill: $color-complement-2;
  }
  text.node-label.filtered {
    opacity: 0;
  }

  line.graph-link {
    opacity: 0.1;
    stroke: $color-primary-1;
    stroke-width: 3;
    z-index: 1;
  }
  line.graph-link.selected {
    stroke: $color-complement-0;
    opacity: 0.6;
    z-index: 2;
  }
  line.graph-link.highlighted {
    stroke: $color-complement-2;
    opacity: 0.6;
    z-index: 3;
  }
  line.graph-link.filtered {
    opacity: 0.0;
  }

  circle.graph-node {
    cursor: pointer;
    opacity: 0.7;
    stroke-width: 5px;
    r: 20px;
    stroke: $color-primary-1;
  }
  circle.graph-node.highlighted {
    stroke: $color-complement-2;
    opacity: 1;
  }
  circle.graph-node.selected {
    stroke: $color-complement-0;
    opacity: 1;
  }
  circle.graph-node.hovered, {
    stroke: $color-complement-2;
    opacity: 1;
  }
  circle.graph-node.filtered {
    opacity: 0.0;
    cursor: unset;
  }
}

/* graph accents for analyze mode*/
#graph.analyze {
  line.graph-link.selected,
  line.graph-link.highlighted {
    stroke: #333;
  }

  circle.graph-node {
    opacity: 0.9;
  }
  circle.graph-node.filtered {
    opacity: 0.0;
    cursor: unset;
  }
}

#item-grid {
  .node-data {
    position: relative;
  }
  .node-data .node-indicator {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 5px;
    width: 5px;
    background-color: 'red';
  }
  .node-data img {
    float: left;
    height: 46px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 0;
    border: transparent;
    border-radius: 8px;
  }
  .grid-node:hover {
    // height: 180%;
  }
}

.exclusive-options {
  .options {
    font-size: 10px;
    cursor: pointer;

    .option {
      padding: 0 10px;
      &:hover {
        background-color: #BBB;
      }
      &.selected {
        background-color: #BBB;
        font-weight: bold;
      }
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
